.err-msg{
    color: #ff5500;
}

.fixd-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#chat-page .chat-me .am-list-extra{
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align:right;
}

#chat-page .am-grid-icon{
    display: none;
}
#chat-page .am-grid-text{
    margin-top: 0;
}

.navtar-div{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.stick-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    z-index: 10000;
}
.msgListItem{
    margin: 45px 0;
}
.navbarList{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
}
